label, textarea, div {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 2rem;
}

.info {
  font-size: 15px;
  color: #aaa;
  line-height: 2em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 200mm;
}
main #functions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  font-size: 18px;
  border-top: solid 1px #ddd;
  padding-top: 10px;
}
main #functions button {
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  padding: 4px 8px;
  border: solid 2px #ffd6d6;
  background-color: #fff;
}
main #functions button.current {
  border: solid 2px #ff8498;
  background-color: #ff8498;
  color: #fff;
}
main #functions #font-size-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
main #functions #font-size-wrapper .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}
main #functions #font-size-wrapper #current-size-label {
  font-size: 16px;
  position: relative;
  z-index: 1;
  line-height: 1em;
  padding: 0 6px;
}
main #functions #font-size-wrapper #current-size {
  font-size: 18px;
  width: 50px;
  border-radius: 7px;
  padding: 7px 8px 6px 120px;
  border: none;
  background-color: #ffd6d6;
  margin-left: -120px;
  position: relative;
  z-index: 0;
  line-height: 1em;
}
main #functions #print-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}
main #functions #print-wrapper #print-on-paper {
  background-color: #2865ff;
  border: solid 2px #2865ff;
  color: #fff;
}
main #view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
main #view .text-box {
  padding: 10px;
  margin: 0;
  font-size: 20px;
  width: 100%;
  min-height: 100px;
  border: solid 1px #d3c6cb;
  border-radius: 7px;
}
main #view #printFont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 1px #ff7aa6;
  overflow-y: auto;
  font-size: 0;
  vertical-align: top;
  max-width: 200mm;
}
main #view #printFont .word {
  overflow: hidden;
}
main #view #printFont .line-break {
  width: 100%;
}
main #view #printFont .no-font > div {
  border: solid 2px #ffc6b5;
  text-align: center;
  color: #bc3434;
}

@page {
  size: 21cm 29.7cm;
  margin: 10mm 0mm;
}
@media print {
  html, body {
    margin: 0 auto;
    width: 220mm;
  }
  header, main #functions, #view > label, #view > textarea {
    display: none;
  }
  main #view #printFont {
    border: none;
    width: 200mm;
    padding: 0;
    margin: 0;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: avoid;
    page-break-inside: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  main #view #printFont div {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  main #view #printFont::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 912px) {
  main #functions {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */